
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
## R related files
*.Rdata
*.RData
*.Rhistory
.Rhistory
.Ruserdata
.Rapp.history
*.doc*
*.pdf
*.Rproj.user
/.Rproj.user



.Rproj.user
