
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
## R related files
*.Rdata
*.RData
*.Rhistory
.Rhistory
.Ruserdata
.Rapp.history
*.doc*
*.pdf
*.Rproj.user
/.Rproj.user



.Rproj.user

outputs/lcc_LowerMainland\.grd
outputs/

cache/rasters/

outputs/

\.DS_Store

cache/
GlobalCanopyCover_swBC_crop
ACGEO_2015_CI_BC_30m_v1_crop
modules/loadLcc2015/data/ACGEO_2015_CI_BC_30m_v1_crop\.tif

modules/loadCanopyCov/data/GlobalCanopyCover_swBC_crop\.tif
